[submodule "submodules/reflet"]
	path = submodules/reflet
	url = https://github.com/Arkaeriit/reflet.git
[submodule "submodules/reflet-GPU"]
	path = submodules/reflet-GPU
	url = https://github.com/Arkaeriit/reflet-GPU.git
[submodule "submodules/ROM_maker"]
	path = submodules/ROM_maker
	url = https://github.com/Arkaeriit/ROM_maker.git
